[user]
    name = Joel Haker
[color]
    ui = true
    status = auto
#[commit]
#    gpgsign = true
[core]
    editor = vim
[diff]
    tool = vimdiff
    algorithm = patience
[init]
    templatedir = ./.git_template
[merge]
    renamelimit = 2415
[pull]
    rebase = true
[alias]
    amend = commit --amend
    br = branch
    #commit = commit -S
    d = diff --histogram
    dt = difftool
    # git logging
    l = log --pretty=format:'%C(auto,yellow)%h%Creset - %C(auto,blue)%an%Creset -%C(auto)%d%Creset %s %C(auto,green)(%cr)%Creset' --abbrev-commit --date=relative
    lg = l -10
    lgr = l --graph
    wtf = log --pretty=format:'%C(auto,yellow)%H%Creset%C(auto)%d%Creset - %C(auto,blue)%cn%Creset - %C(auto,green)(%ar)%Creset%n %-s%n' --stat
    st = status
    # git add/remove with fzf
    stg = "! git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
    unstg = "! git diff --cached --name-only | fzf --print0 -m | xargs -0 -t -o git reset -q"
