[user]
    name = Joel Haker
[color]
    ui = true
    status = auto
[diff]
    tool = vimdiff
    algorithm = patience
[core]
    editor = /usr/bin/vim
[init]
    templatedir = ./.git_template
[pull]
    rebase = true
[merge]
    renamelimit = 2415
[alias]
    amend = commit --amend
    br = branch
    d = diff --histogram
    dt = difftool
    # git logging
    la = log --pretty=format:'%C(auto,yellow)%h%Creset - %C(auto,blue)%an%Creset -%C(auto)%d%Creset %s %C(auto,green)(%cr)%Creset' --abbrev-commit --date=relative
    lg = la -10
    lgr = la --graph
    brcheck = la --branches --not --remotes
    wtf = log --pretty=format:'%C(auto,yellow)%H%Creset%C(auto)%d%Creset - %C(auto,blue)%cn%Creset - %C(auto,green)(%ar)%Creset%n %-s%n' --stat
    # git add/remove with fzf
    stg = "! git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
    unstg = "! git diff --cached --name-only | fzf --print0 -m | xargs -0 -t -o git reset -q"
